{% extends 'layouts/base.html' %}

{% block content %}

    <main class="container">
        <div class="title-bar">
            <h1>New questions</h1>
            <a href="{% url 'hot' %}">Hot questions</a>
        </div>

        <div class="content">

            <div class="cards">
                {% for question in questions %}
                    {% include 'components/question.html' %}
                {% endfor %}

                {% include 'components/pagination.html' %}
            </div>




{% endblock %}